{% extends 'base.html.twig' %}

{% block title 'ForgeEssentials Remote Panel' %}

{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi, user-scalable=0">
	<base href="{{ app.env.basePath }}/">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/style.css">
{% endblock %}

{# ######################################################### #}

{% block header_js %}
	<script>
		var moduleDependencies = [{% for module in app.modules %}'module/{{ module }}', {% endfor %}];
	</script>
	
{% if true %}
    <script type="text/javascript" src="{{ asset('lib/lib.js') }}"></script>
{% else %}
    <script type="text/javascript" src="{{ asset('lib/jquery/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/angular/angular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/angular/angular-route.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/require.js') }}"></script>
{% endif %}
	<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{# ######################################################### #}

{% block javascripts %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{# ######################################################### #}

{% block body %}
<nav id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" target="_self" href="{{ app.env.baseUrl }}">FE Remote Panel</a></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-cloak ng-repeat="item in sidebar.items | orderObjectBy:'order'" ng-class="{active: item.id == sidebar.selected}" ng-click="sidebar.select(item.id)">
                    <a href="module/{{ angular('item.id') }}" ng-bind="item.label"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="content" class="container-fluid">
    <!-- START content -->
    {% block content %}
    <div ng-view>{% if content is defined %}{{ content|raw }}{% else %}
        <h1>Loading</h1>
        <p>If no content appears, please be sure that JavaScript is enabled in your browser.</p>
    {% endif%}</div>
    {% endblock content %}
    <!-- END content -->
</div>
<nav id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-bind="lastError" style="color:#d11;"></a></li>
            </ul>
        </div>
    </div>
</nav>
{# #}
{% endblock %}
